:root {
    --accent-color:#2196F3;
    --text-color:#212121;
    --description-color:#757575;
    --main-backgground-color:#FFF;
    --main-background-team:#F5F4FA;
    --footer-background:#2F303A;
    --logo-color:#000;
    --footer-number:rgba(255, 255, 255, 0.60);
    --border-color: #EEE;
}



*,
::after,
::before {
box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

img {
    display: block;
}

h1,h2,h3,p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
}

/* section header */

.container {
    outline: 1px solid red;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: var(--main-backgground-color);
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-box {
    display: flex;
    align-items: center;
}

.header-logo {
    color:var(--logo-color);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-right: 93px;
}

.logo-color {
    color:var(--accent-color);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.nav-link {
    color: var(--text-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.nav-list {
    display: flex;
    gap: 50px;
}

.header-link {
    color: var(--description-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}



.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-list {
    display: flex;
    gap: 50px;
    margin-left: 344px;
}

.active {
    color:var(--accent-color);
}

/* section hero */

.hero {
    background-color: var(--footer-background);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.hero-title {
    color: var(--main-backgground-color);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 1.36; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
width: 696px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
}

.hero-btn {
    color: var(--main-backgground-color);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.96px;
padding: 10px 32px;
flex-shrink: 0;
border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* section advantages */

.advantages {
    background-color: var(--main-backgground-color);
    padding-top: 94px;
}

.advantages-list {
    display: flex;
    gap: 30px;
}

.advantages-title {
    color: var(--text-color);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}

.advantages-desk {
    color: var(--description-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

/* section work */

.work {
    background-color: var(--main-backgground-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-title {
    color: var(--text-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.work-list {
    display: flex;
    gap: 30px;
}

/* section team */

.team {
    background-color: var(--main-background-team);
    padding-top: 94px;
    padding-bottom: 94px;
}


.team-title {
    color: var(--text-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.team-box {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--main-backgground-color);
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-img {
    width: 270px;

}

.team-caption {
    color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;
margin-bottom: 10px;
}

.team-desk {
    color: var(--description-color);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.48px;
}

/* footer */

.footer {
    background-color: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
}


.footer-logo {
    color: var(--main-backgground-color);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-bottom: 20px;
display: block;
}

.footer-color {
    color: var(--accent-color);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.address-link {
    color: var(--main-backgground-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
margin-bottom: 9px;
display: block;
}

.footer-link {
    color: var(--footer-number);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.footer-item {
    margin-bottom: 9px;
}

.footer-item:last-child {
    margin-bottom: 0;
}

.btn-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-btn {
    color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62;
letter-spacing: 0.48px;
border-radius: 4px;
background: var(--main-background-team);
padding: 6px 22px;

}

.btn-btn:hover, .btn-btn:focus {
    color: var(--main-backgground-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; 
letter-spacing: 0.48px;
    border-radius: 4px;
background: #2196F3;
}

.card {
    padding-top: 94px;
    padding-bottom: 94px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card-item {
    flex-basis: calc((100% - 60px) / 3);
    
}

.card-img {
    width: 100%;
}

.card-div {
    border: 1px solid var(--border-color);
background: var(--main-backgground-color);
padding-top: 20px;
padding-bottom: 20px;
padding-right: 24px;
padding-left: 24px;
}




.card-title {
    color: var(--text-color);
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 1.08px;
}

.card-desk {
    color: var(--description-color);
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.48px;
/* width: 322px; */
margin-top: 4px;
}
