.footer {
    background-color: $footer;
    padding-top: 60px;
    padding-bottom: 60px;

    & > .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        // row-gap: 60px;
        
         @media screen and (min-width: 768px) {
          align-items:first baseline;
          flex-direction: row;
        }
         @media screen and (min-width: 1200px) {
          text-align: start;
        }
      }

      &__div {
        display: flex;
  flex-direction: column;
margin-bottom: 60px;

   @media screen and (min-width: 768px) {
   width: 235px;
   margin-right: 165px;
   margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
      }

    // &__box {
    //     display: flex;
    //     gap: 70px;
    // }
    
    &__logo {
        color: $logo;
        font-family: Raleway;
        font-size: 24px;
        font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.72px;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    letter-spacing: 0.78px;
  }
        }
        
        .logo__footer {
        color: $white;
        font-family: Raleway;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.78px;
        }
    
        .addres {
            margin-top: 20px;
            font-style: normal;

            &__list {
                display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 9px;
            }

            // &__list {
            //     margin-top: 9px;
            // }
            
            // &__item {
            //     margin-bottom: 9px;
            // }
            
            &__item:last-child {
                margin-bottom: 0px;
            }

            &__news {
                @media screen and (min-width: 768px) {
                    margin-left: 165px;
                  }
                   @media screen and (min-width: 1200px) {
                     margin-left: 0px;
                  }
            }
            
            &__link {
            color: $gr;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
            letter-spacing: 0.42px;

            @media screen and (min-width: 480px) {
            }

            @media screen and (min-width: 768px) {
            }

            @media screen and (min-width: 1200px){
                line-height: 1.71;
            }
            }
        }
    
    &__addres {
    color: $white;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    margin-bottom: 9px;
    margin-top: 20px;

    @media screen and (min-width: 480px) {
        width: 232px;
        height: 21px;
        flex-shrink: 0;
    }

    @media screen and (min-width: 768px) {
        width: 232px;
        height: 21px;
        flex-shrink: 0;
    }

    @media screen and (min-width: 1200px){
        line-height: 1.71; 
    }
    }
    

    
    &__title {
        color: $white;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    }
    
    &__list {
        display: flex;
  justify-content: center;
  gap: 10px;
    }

    .social {

        &__link {
            padding: 12px;
            background-color: $grad;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        &__link:hover {
            background-color: $logo;
        }
    }
    
    
    
    &__icon{
        fill: $white;
        width: 20px;
    height: 20px;
    }
    
    .social__link:hover,
     .social__link:focus {
      border-radius: 50%;
      outline: none;
      background-color: $logo;
      transition-property: background-color ;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0;
      &__icon {
        fill: $white;
        transition-property: fill ;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0;
      }
    }

    .newsletter {
        @media screen and (min-width: 1200px) {
            margin-left: auto;
           }
        
        &__title {
            color: $white;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.14;
            letter-spacing: 0.42px;
            text-transform: uppercase;
            margin-bottom: 20px;
            margin-top: 60px;


            @media screen and (min-width: 1200px) {
                margin-top: 0px;
               }
        }
        
        &__form {
            display: flex;
//   align-items: center;
  flex-direction: column;
  gap: 20px;

   @media screen and (min-width: 1200px) {
      flex-direction: row;
      gap: 12px;
      align-items: center;
  }
        }
        
        
        &__input {
            color: $gr;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 100%;

   @media screen and (min-width: 480px) {
    width: 450px;
  }
   @media screen and (min-width: 1200px) {
   width: 358px;
  }
        }
        
        &__button{
            border-radius: 4px;
        background: $logo;
        box-shadow: 0px 4px 4px 0px $gradien;
        color: $white;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87; /* 187.5% */
        letter-spacing: 0.96px;
        border: none;
        display: flex;
        align-items: center;
        /* padding-left: 28px;
        padding-right: 62px; */
        width: 200px;
        height: 50px;
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 10px;
        cursor: pointer;
        outline: none;

        
            margin-right: auto;
            margin-left: auto;


        @media screen and (min-width: 1200px) {
            margin-right: 0;
            margin-left: 0;
          }
          
        }
        
        &__svg {
            fill: $white;
            width: 24px;
        height: 24px;
        }
    }
    
    
    
}


