.team {
    padding-top: 60px;
  padding-bottom: 60px;
    background-color: $team;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
      }

    &__title {
        color: $nav-list-link;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.84px;
        margin-bottom: 30px;

        @media screen and (min-width: 1200px) {
            font-size: 36px;
            letter-spacing: 1.08px;
            margin-bottom: 50px;
           }
        }
        
        &__list {
            display: flex;
            gap: 30px;
            flex-direction: column;

            @media screen and (min-width: 768px) {
                flex-direction: row;
                flex-wrap: wrap;
              }
              @media screen and (min-width: 1200px) {
                flex-wrap: nowrap;
              }
        }
        
        &__item {
            background-color: $white;
            border-radius: 0px 0px 4px 4px;
            box-shadow: 0px 1px 3px 0px $rga, 0px 1px 1px 0px $rgb, 0px 2px 1px 0px $rgba;

            @media screen and (min-width: 768px) {
                flex-basis: calc((100% - 30px) / 2);
              }
              @media screen and (min-width: 1200px) {
                flex-basis: calc((100% - 90px) / 4);
              }
        }
        
        /* .team-img {
            
        } */
        
        &__box {
            padding-top: 30px;
            padding-bottom: 16px;
        }
        
        &__caption {
            color: $nav-list-link;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: 0.48px;
        margin-bottom: 10px;
        }
        
        &__text {
        color: $contacts-list-link;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.18;
        letter-spacing: 0.48px;
        }
        
        .social {
            justify-content: center;
            display: flex;
            gap: 10px;
            margin-bottom: 30px;
        }
        
        &__link:hover {
            background-color: $logo;
            &__svg {
                fill: $white;
            }
        }
        
        &__link {
            width: 44px;
            height: 44px;
            padding: 12px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        &__link:hover,
        &__link:focus {
          border-radius: 50%;
          background-color: $logo;
          transition-property: background-color ;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: 0;
          .team__svg {
            fill: $white;
            transition-property: fill ;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-delay: 0;
          }
        }
        
        &__svg {
            fill: $media;
        }
}

