.btn:hover {
    background-color: $logo;
    color: $white;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.btn {
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    color: $nav-list-link;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.62; /* 162.5% */
letter-spacing: 0.48px;
}

.btn:hover,
.btn:focus {
  background-color: $logo;
  border: none;
  outline: transparent;
  border-radius: 4px;
  color: $white;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
     transition-property: background-color, color, box-shadow ;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}