.buttons__list {
    display: flex;
    justify-content: start;
    gap: 8px;
    margin-bottom: 50px;
    width: 100%;
    flex-wrap: wrap;

    @media screen and (min-width: 480px) {
        margin-bottom: 40px;
  width: 360px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
        width: 100%;
        justify-content: center;
    }

    @media screen and (min-width: 1200px){
       
    }
}