.services__caption {
    color: $nav-list-link;
    font-size: 18px;
    font-weight: 700;
    line-height: 2; /* 200% */
    letter-spacing: 1.08px;

    @media screen and (max-width: 480px) {

            }
        
            @media screen and (max-width: 768px) {
                
            }
        
            @media screen and (max-width: 1200px){
               
            }
}