body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  /* outline: solid red; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ECECEC;
}
@media screen and (min-width: 480px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.header > .container {
  display: flex;
  align-items: center;
}
.header__, .header .container {
  display: flex;
}
.header__nav {
  display: flex;
  margin-right: auto;
}
.header__logo {
  color: #2196F3;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
}
.header__span {
  color: #000000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.header .nav {
  display: none;
  gap: 50px;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .header .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header .nav {
    display: flex;
  }
}
.header .nav .contacts__link:hover, .header .nav__link:hover {
  color: #2196F3;
}
.header .nav__item {
  position: relative;
}
.header .nav__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header .nav__link:hover, .header .nav__link:focus {
  color: #2196F3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.header__list {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .header__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    gap: 30px;
    flex-direction: row;
  }
}
.header__item {
  margin-bottom: 0;
  margin-right: 30px;
}
.header__link {
  gap: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .header__link {
    font-size: 14px;
    letter-spacing: 0.28;
  }
}
.header__:hover__contact {
  fill: #2196F3;
}
.header__:hover__cont {
  color: #2196F3;
}
.header__link:hover, .header__link:focus {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  color: #2196F3;
}
.header__link:hover .header__contact, .header__link:focus .header__contact {
  fill: #2196F3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.header__link:hover .header__cont, .header__link:focus .header__cont {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  color: #2196F3;
}
.header__contact {
  fill: #757575;
  width: 16px;
  height: 12px;
}
.header__item:nth-child(2) .header__contact {
  width: 10px;
  height: 16px;
}
.header__cont {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header__cont:hover {
  color: #2196F3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header .current {
  color: #2196F3;
}
.header .current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
  display: block;
  position: absolute;
  top: 48px;
  left: 0;
  box-sizing: border-box;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  color: #FFFFFF;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61; /* 136.364% */
  letter-spacing: 1.56px;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36; /* 136.364% */
    letter-spacing: 2.64px;
    width: 696px;
  }
}
.hero__btn {
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.96px;
  background-color: #2196F3;
  padding: 10px 24px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 0;
  }
}
.features__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    flex-direction: row;
  }
}
.features__item::before {
  content: "";
  border-radius: 4px;
  background: #F5F4FA;
  width: 100%;
  height: 120px;
  display: block;
  background-image: url(../img/antenna.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .features__item::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features__item::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item::before {
    width: 270px;
  }
}
.features__item:nth-child(2)::before {
  background-image: url(../img/clock.jpg);
}
.features__item:nth-child(3)::before {
  background-image: url(../img/diagram.jpg);
}
.features__item:nth-child(4)::before {
  background-image: url(../img/astronaut.jpg);
}
.features__title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: start;
  }
}
.features__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
@media screen and (min-width: 768px) {
  .features__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__text {
    width: 270px;
  }
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
.work__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  gap: 30px;
}
.work__item {
  position: relative;
}
.work__box {
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
}
.work__text {
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
  /* .team-img {

  } */
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.team__list {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: nowrap;
  }
}
.team__item {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team__box {
  padding-top: 30px;
  padding-bottom: 16px;
}
.team__caption {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.team__text {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
}
.team .social {
  justify-content: center;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.team__link:hover {
  background-color: #2196F3;
}
.team__link:hover__svg {
  fill: #FFFFFF;
}
.team__link {
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team__link:hover, .team__link:focus {
  border-radius: 50%;
  background-color: #2196F3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.team__link:hover .team__svg, .team__link:focus .team__svg {
  fill: #FFFFFF;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.team__svg {
  fill: #AFB1B8;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__title {
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.clients__list {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .clients__list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    justify-content: space-between;
  }
}
.clients__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.clients__link {
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__link:hover {
  border: 1px solid #2196F3;
}
.clients__link:hover__icon {
  fill: #2196F3;
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196F3;
  outline: none;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: #2196F3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.clients__icon {
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer > .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer > .container {
    align-items: first baseline;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer > .container {
    text-align: start;
  }
}
.footer__div {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__div {
    width: 235px;
    margin-right: 165px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__div {
    margin-right: 70px;
  }
}
.footer__logo {
  color: #2196F3;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
  }
}
.footer .logo__footer {
  color: #FFFFFF;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer .addres {
  margin-top: 20px;
  font-style: normal;
}
.footer .addres__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 9px;
}
.footer .addres__item:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .footer .addres__news {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .addres__news {
    margin-left: 0px;
  }
}
.footer .addres__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
@media screen and (min-width: 1200px) {
  .footer .addres__link {
    line-height: 1.71;
  }
}
.footer__addres {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-bottom: 9px;
  margin-top: 20px;
}
@media screen and (min-width: 480px) {
  .footer__addres {
    width: 232px;
    height: 21px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__addres {
    width: 232px;
    height: 21px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__addres {
    line-height: 1.71;
  }
}
.footer__title {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer .social__link {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .social__link:hover {
  background-color: #2196F3;
}
.footer__icon {
  fill: #FFFFFF;
  width: 20px;
  height: 20px;
}
.footer .social__link:hover,
.footer .social__link:focus {
  border-radius: 50%;
  outline: none;
  background-color: #2196F3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.footer .social__link:hover__icon,
.footer .social__link:focus__icon {
  fill: #FFFFFF;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
@media screen and (min-width: 1200px) {
  .footer .newsletter {
    margin-left: auto;
  }
}
.footer .newsletter__title {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer .newsletter__title {
    margin-top: 0px;
  }
}
.footer .newsletter__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer .newsletter__form {
    flex-direction: row;
    gap: 12px;
    align-items: center;
  }
}
.footer .newsletter__input {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
}
@media screen and (min-width: 480px) {
  .footer .newsletter__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .newsletter__input {
    width: 358px;
  }
}
.footer .newsletter__button {
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.96px;
  border: none;
  display: flex;
  align-items: center;
  /* padding-left: 28px;
  padding-right: 62px; */
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  cursor: pointer;
  outline: none;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .footer .newsletter__button {
    margin-right: 0;
    margin-left: 0;
  }
}
.footer .newsletter__svg {
  fill: #FFFFFF;
  width: 24px;
  height: 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  opacity: 1;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal .model__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: transparent;
  padding: 10px;
  position: absolute;
  top: 14px;
  right: 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}
.modal .btn__svg {
  width: 11px;
  height: 11px;
}
.modal .btn__svg:hover {
  fill: #2196F3;
  cursor: pointer;
}
.modal .model__btn:hover .btn__svg, .modal .model__btn:focus .btn__svg {
  fill: #2196F3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal__title {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.6px;
  text-align: center;
  margin-bottom: 12px;
}
.modal__lab {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
  border: none;
}
.modal__inp {
  display: block;
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 12px 12px 42px;
  margin-bottom: 10px;
  margin-top: 4px;
  outline: none;
}
.modal__inp:hover {
  border: none;
}
.modal__coment {
  display: block;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 12px 16px;
  margin-bottom: 25px;
  resize: none;
  margin-top: 4px;
  outline: none;
}
.modal__box {
  position: relative;
}
.modal__box:hover .modal__inp, .modal__box:focus .modal__inp {
  border: 1px solid #2196F3;
}
.modal__box:hover .model__svg, .modal__box:focus .model__svg {
  fill: #2196F3;
}
.modal__inp:hover + .model__svg, .modal__inp:focus + .model__svg {
  fill: #2196F3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal .model__svg {
  width: 18px;
  height: 18px;
  top: 53%;
  left: 12px;
  position: absolute;
}
.modal__us {
  width: 18px;
  height: 18px;
}
.modal__lab:hover__coment, .modal__lab:focus__coment {
  border: 1px solid #2196F3;
}
.modal .model__btn:hover .btn__svg, .modal .model__btn:focus .btn__svg {
  fill: #2196F3;
}
.modal__inp:hover, .modal__inp:focus {
  border-color: #2196F3;
}
.modal__chek {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  outline: none;
}
.modal .check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
}
.modal .check__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
  width: 400px;
}
.modal .check__link {
  color: #2196F3;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}
.modal .check__btn {
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.96px;
  padding: 10px 53px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  outline: none;
}
.modal__btn {
  text-align: center;
}
.modal .current {
  color: #2196F3;
}
.modal .current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196F3;
  display: block;
  position: absolute;
  top: 48px;
  left: 0;
  box-sizing: border-box;
}

/* .current:last-child::after {
      width: 78px;
height: 4px;
  } */
.portfolio__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn:hover {
  cursor: pointer;
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.btn {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;
}

.btn:hover,
.btn:focus {
  background-color: #2196F3;
  border: none;
  outline: transparent;
  border-radius: 4px;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.buttons__list {
  display: flex;
  justify-content: start;
  gap: 8px;
  margin-bottom: 50px;
  width: 100%;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .buttons__list {
    margin-bottom: 40px;
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .buttons__list {
    margin-bottom: 30px;
    width: 100%;
    justify-content: center;
  }
}
.services__im {
  position: relative;
  overflow: hidden;
}

.services__im:hover .services__paragraph {
  opacity: 1;
  transform: translate(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-delay: 0;
  overflow: hidden;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 1200px;
  margin: 0 auto; */
  gap: 30px;
}
.services__item {
  /* width: 370px;
  height: 404px;
  flex-shrink: 0; */
  border: 1px solid #EEE;
  background: #FFFFFF;
  position: relative;
  flex-basis: calc((100% - 0px) / 1);
}
@media screen and (min-width: 768px) {
  .services__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .services__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.services-item:hover {
  border: 1px solid #EEE;
  background: #FFFFFF;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.services-item:hover .services-paragraph {
  opacity: 1;
}

.services-item:hover, .services-paragraph {
  opacity: 1;
  transform: translate(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-delay: 0;
  overflow: hidden;
}

.services__paragraph {
  color: #FFFFFF;
  font-size: 18px;
  font-style: 1.55;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  padding: 77px 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition-property: color background-color transform;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
  transform: translatey(370px);
  overflow: hidden;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .services__paragraph {
    padding: 57px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .services__paragraph {
    padding: 63px 24px;
  }
}

.services__box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.services__caption {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
}
.services__img {
  width: 100%;
  height: 294px;
}

.services__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.48px;
}/*# sourceMappingURL=main.css.map */