// :root {
//     --text-color:#000000;
//     --logo:#2196F3;
//     --nav-list-link:#212121;
//     --contacts-list-link: #757575;
//     --white:#FFFFFF;
//     --addres-list-link:#FFFFFF99;
//     --footer:#2F303A;
//     --team:#F5F4FA;
//     --media:#AFB1B8;
//     --line:#ECECEC;
// }

$text-color:#000000;
    $logo:#2196F3;
    $nav-list-link:#212121;
    $contacts-list-link: #757575;
    $white:#FFFFFF;
    $addres-list-link:#FFFFFF99;
    $footer:#2F303A;
    $team:#F5F4FA;
    $media:#AFB1B8;
    $line:#ECECEC;
    $gradient:rgba(47, 48, 58, 0.40);
    $rg:rgba(0, 0, 0, 0.15);
    $gra:rgba(47, 48, 58, 0.80);
    $rga:rgba(0, 0, 0, 0.12);
    $rgb:rgba(0, 0, 0, 0.14);
    $rgba:rgba(0, 0, 0, 0.20);
    $gr:rgba(255, 255, 255, 0.60);
    $grad:rgba(255, 255, 255, 0.10);
    $gradi:rgba(255, 255, 255, 0.30);
    $gradie:rgba(33, 150, 243, 0.00);
    $gradien:rgba(0, 0, 0, 0.15);
    $gradient:rgba(0, 0, 0, 0.10);
    $b:rgba(0, 0, 0, 0.12);
    $bo:rgba(0, 0, 0, 0.06);
    $box:rgba(0, 0, 0, 0.16);
    $nwhite:#EEE;